* [timestamp](#Timestamp)

In [1]:
import pandas as pd
import os
import time

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import decomposition
%matplotlib inline

In [2]:
data_folder = "held_in_csv/"
output_folder = "embeddings/"

In [3]:
labels_df = pd.read_csv(data_folder + "Y_held_in.csv")
labels_df.head()

     SMID Diagnosis2  Score
0  101378   Negative      0
1  103694   Positive      2
2  106002   Negative      0
3  107667   Negative      0
4  107776   Negative      0

In [4]:
sentences_df = pd.read_csv(data_folder + str(labels_df.SMID[0])+".csv")

In [ ]:
sentence_embeddings = np.load(output_folder+str(labels_df.SMID[0])+".npy")
sentence_embeddings.shape

# Timestamp

In [13]:
import datetime

In [7]:
sentences_df.TimeStamp

0      1555380623698
1      1555380623620
2      1561483301653
3      1561407440491
4      1561315719422
           ...
549    1560479230039
550    1516935543228
551    1516935526021
552    1542652721857
553    1484233830009
Name: TimeStamp, Length: 554, dtype: int64

In [33]:
pd.to_datetime(sentences_df.TimeStamp, unit='ms')

0     2019-04-16 02:10:23.698
1     2019-04-16 02:10:23.620
2     2019-06-25 17:21:41.653
3     2019-06-24 20:17:20.491
4     2019-06-23 18:48:39.422
                ...
549   2019-06-14 02:27:10.039
550   2018-01-26 02:59:03.228
551   2018-01-26 02:58:46.021
552   2018-11-19 18:38:41.857
553   2017-01-12 15:10:30.009
Name: TimeStamp, Length: 554, dtype: datetime64[ns]

In [41]:
sentences_df.index = pd.DatetimeIndex(pd.to_datetime(sentences_df.TimeStamp, unit='ms')).tz_localize('UTC').tz_convert('US/Central')

Quick note: dayofweek 0=Monday, ..., Sunday=6

In [61]:
counts = sentences_df.groupby([lambda x: x.dayofweek, lambda x: x.hour]).count()

In [65]:
daytime = []
for day in ["Mon","Tue","Wed","Thu","Fri","Sat"]:
    daytime.append(day+" Day")
    daytime.append(day+" Night")

In [79]:
df_counts = pd.DataFrame(index=daytime,columns=["count"])
df_counts.fillna(0)

           count
Mon Day        0
Mon Night      0
Tue Day        0
Tue Night      0
Wed Day        0
Wed Night      0
Thu Day        0
Thu Night      0
Fri Day        0
Fri Night      0
Sat Day        0
Sat Night      0